In [1]:
# import packages

import pandas as pd
import sqlite3

In [11]:
# Read in CSV files
df_customers = pd.read_csv('../00_data/raw/CustomersData.csv')
df_online_sales = pd.read_csv('../00_data/raw/Online_Sales.csv')
df_marketing_spend = pd.read_csv('../00_data/raw/Marketing_Spend.csv')
df_tax_amount = pd.read_csv('../00_data/raw/tax_amount.csv')
df_discount_coupon = pd.read_csv('../00_data/raw/Discount_Coupon.csv')

# Display basic info
print("Customers shape:", df_customers.shape)
print("Online Sales shape:", df_online_sales.shape)
print("Marketing Spend shape:", df_marketing_spend.shape)
print("Tax Amount shape:", df_tax_amount.shape)
print("Discount Coupon shape:", df_discount_coupon.shape)

Customers shape: (1468, 4)
Online Sales shape: (52924, 10)
Marketing Spend shape: (365, 3)
Tax Amount shape: (20, 2)
Discount Coupon shape: (204, 4)

In [ ]:
## online_sales data preprocessing

# Convert 'Transaction_Date' to datetime format in df_online_sales
df_online_sales['Transaction_Date'] = pd.to_datetime(df_online_sales['Transaction_Date'])

# Extract month 
df_online_sales['Month'] = df_online_sales['Transaction_Date'].dt.strftime('%b')

# Extract day of week
df_online_sales['Day_Name'] = df_online_sales['Transaction_Date'].dt.day_name()

df_online_sales.head()

,CustomerID,Transaction_ID,Transaction_Date,Product_SKU,Product_Description,Product_Category,Quantity,Avg_Price,Delivery_Charges,Coupon_Status,Month,Day_Name
0,17850,16679,2019-01-01,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,1,153.71,6.5,Used,Jan,Tuesday
1,17850,16680,2019-01-01,GGOENEBJ079499,Nest Learning Thermostat 3rd Gen-USA - Stainle...,Nest-USA,1,153.71,6.5,Used,Jan,Tuesday
2,17850,16681,2019-01-01,GGOEGFKQ020399,Google Laptop and Cell Phone Stickers,Office,1,2.05,6.5,Used,Jan,Tuesday
3,17850,16682,2019-01-01,GGOEGAAB010516,Google Men's 100% Cotton Short Sleeve Hero Tee...,Apparel,5,17.53,6.5,Not Used,Jan,Tuesday
4,17850,16682,2019-01-01,GGOEGBJL013999,Google Canvas Tote Natural/Navy,Bags,1,16.50,6.5,Used,Jan,Tuesday

In [20]:
## marketing_spend data preprocessing

# Convert 'Date' to datetime format in df_online_sales
df_marketing_spend['Date'] = pd.to_datetime(df_marketing_spend['Date'])

# Extract month 
df_marketing_spend['Month'] = df_marketing_spend['Date'].dt.strftime('%b')

# Extract day of week
df_marketing_spend['Day_Name'] = df_marketing_spend['Date'].dt.day_name()

df_marketing_spend.head()

        Date  Offline_Spend  Online_Spend Month   Day_Name
0 2019-01-01           4500       2424.50   Jan    Tuesday
1 2019-01-02           4500       3480.36   Jan  Wednesday
2 2019-01-03           4500       1576.38   Jan   Thursday
3 2019-01-04           4500       2928.55   Jan     Friday
4 2019-01-05           4500       4055.30   Jan   Saturday

In [22]:
## discount_coupon data preprocessing

# Convert 'Discount_pct' from percentage string to float
df_discount_coupon['Discount_pct'] = df_discount_coupon['Discount_pct'].astype('float') / 100.0

df_discount_coupon.head()

  Month Product_Category Coupon_Code  Discount_pct
0   Jan          Apparel      SALE10           0.1
1   Feb          Apparel      SALE20           0.2
2   Mar          Apparel      SALE30           0.3
3   Jan         Nest-USA      ELEC10           0.1
4   Feb         Nest-USA      ELEC20           0.2

In [26]:
## tax_amount data preprocessing

# Convert 'GST' from percentage string to float
df_tax_amount['GST'] = df_tax_amount['GST'].str.replace('%', '', regex=False).astype(float) / 100

df_tax_amount.head()

  Product_Category   GST
0         Nest-USA  0.10
1           Office  0.10
2          Apparel  0.18
3             Bags  0.18
4        Drinkware  0.18

In [30]:
# Create a connection to the SQLite database
conn = sqlite3.connect('../03_db/marketing_analytics.db')

# Load dataframes into the SQLite database
df_customers.to_sql('customers', conn, if_exists='replace', index=False)
df_online_sales.to_sql('online_sales', conn, if_exists='replace', index=False)
df_marketing_spend.to_sql('marketing_spend', conn, if_exists='replace', index=False)
df_tax_amount.to_sql('tax_amount', conn, if_exists='replace', index=False)
df_discount_coupon.to_sql('discount_coupon', conn, if_exists='replace', index=False)

# Close the connection
conn.close()